<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light shadow-2 blue">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="rightAligned.toggle()"
      aria-controls="navbarRightAlignExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
      style="border-color: #dcdcde"
    >
      <fa-icon [icon]="icon" style="color:#dcdcde"></fa-icon>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarRightAlignExample"
      mdbCollapse
      #rightAligned="mdbCollapse"
    >
      <!-- Left links -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link "href="#" (click)="onSelect('cv')"><h4 class="silver">CV</h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onSelect('portfolio')"><h4 class="silver">Portfolio</h4></a>
        </li>

      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>

<!--
<nav class="navbar navbar-expand-md blue">
  &lt;!&ndash; Container wrapper &ndash;&gt;
  <div class="container-fluid">
    &lt;!&ndash; Collapsible wrapper &ndash;&gt;
    <div class="collapse navbar-collapse" id="navbarRightAlignExample">
      &lt;!&ndash; Left links &ndash;&gt;
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link "href="#" (click)="onSelect('cv')"><h4 class="silver">CV</h4></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onSelect('portfolio')"><h4 class="silver">Portfolio</h4></a>
        </li>
      </ul>
      &lt;!&ndash; Left links &ndash;&gt;
    </div>
    &lt;!&ndash; Collapsible wrapper &ndash;&gt;
  </div>
  &lt;!&ndash; Container wrapper &ndash;&gt;
</nav>
-->
