<div class="container blue">
  <h3 class="bot-pad">Contacts</h3>
  <div class="svg" >
    <img src="assets/images/svg/Linkedin.svg" alt="LinkedIn Logo" style="width: 72px; height: 64px;">
    <a href="https://www.linkedin.com/in/goncalo-lacerda/" target="_blank">Gonçalo Lacerda <fa-icon [icon]="icon"></fa-icon></a>
  </div>
  <div class="svg second" >
    <img src="assets/images/svg/GitHub.svg" alt="GitHub Logo" style="width: 72px; height: 64px;">
    <a href="https://github.com/Horbilon" target="_blank">Horbilon <fa-icon [icon]="icon"></fa-icon></a>
  </div>
  <div class="svg third" >
    <img src="assets/images/svg/Behance.svg" alt="Behance Logo" style="width: 72px; height: 64px;">
    <a href="https://www.behance.net/goncalo_lacerda" target="_blank">Gonçalo Lacerda <fa-icon [icon]="icon"></fa-icon></a>
  </div>
</div>
